[2018-02-10 21:01] nabadger opened #1 "Fails to start if dex server not running"
[code]

[2018-02-15 08:30] nabadger opened #2 "Consider drop-downs for selecting a cluster"
< 5 clusters is fine in the current interface, but what if you have a lot more...the current UI would make it annoying.

[2018-02-15 08:33] nabadger opened #3 "Why the need to define the redirect_uri in the config"
It looks like this could be auto-generated by using the `name` field which is defined per cluster.

Perhaps instead define a server_name or hostname field, and construct the callback URL from that.

[2018-02-15 08:38] nabadger opened #4 "Add copy-to-clipboard option for selecting kubectl config commands"
If you're using multipel clients (i.e. different laptops to connect to the same cluster), then your'll need to generate a new re-fresh token each time (unless you have some centralized store)

It's easy to incorrectly copy the credentials (mostly because they go off the page).

[2018-02-15 08:43] nabadger commented on #1
Note, this is because it sets up the callback handlers straight-away:

[code]

[2018-02-15 18:26] whereisaaron commented on #1
I've seen this. This is a problem if you have multiple clusters and only one isn't working. A retry mechanism would be nice.

[2018-02-15 18:28] whereisaaron opened #6 "kubectl command include IDP cert argument, even if no IDP cert is specified"
I offer PR #5 to fix one small bug and slightly improve the HTML of the `kubeconfig`  HTML template

1. Only include IDP certificate in kubectl if one is specified
2. Add short description of result page title
3. Tweak CSS styles (for wrapping) and HTML templates (for language)

[2018-02-15 18:31] whereisaaron commented on #2
This is probably possible, just via the go template.

Might need JavaScript if you want to display the 'Long Description' after choosing from the drop-down, and before hitting the 'Login' button.

[2018-02-15 18:35] whereisaaron opened #7 "Create helm charts for dex + dex-k8s-authenticator"
I just wanted to call out that I have created helm charts to deploy `dex` and `dex-k8s-authenticator`, optionally in their own namespace, and including RBAC. Handles arbitrary numbers of connectors (including multiple of the same type) and connector secrets.

I'll offer them here, as soon as I get a chance to write the README's.

[2018-02-15 18:40] whereisaaron opened #8 "Add Windows commands to kubeconfig screen"
I'd like to extend the kubeconfig template to document, not just Linux/Mac shell commands, but also Powershell commands for Windows. Will need to use either use one line commands, or use the back-tick continuation for Powershell. `$HOME` works for both. Could add `cmd.exe` commands also I guess.

I'd also like to include download links for the appropriate `kubectl` / `kubectl.exe`

I'd like it to

[2018-02-15 19:00] nabadger commented on #6
Thanks for this - I've merged it 👍

[2018-02-15 19:00] #6 closed

[2018-02-15 19:25] nabadger commented on #8
Perhaps we can do this by defining placeholders for each section, providing defaults, but also letting the user supply their own templates to customize the output if required. The path to kubectl could probably be provided / overridden by the configuration file.

The current sections of the page can probably be divided into the following sections:

- Cert Configuration
- Token Validation (show gro

[2018-02-15 23:26] whereisaaron commented on #8
I was thinking a tab for each OS. Since the kubectl download and commands are different for every OS (with some overlap for Mac/Linux). Token validation is in common though, and could come first. (I'd like to extract and format the email address and group list.). Each user only needs one OS tab (at a time), and on selecting that OS tab can see everything they need in one screen.

- Token Validatio

[2018-02-15 23:27] whereisaaron commented on #4
My PR #5 stops them going off the page, without 'breaking' the line, so they still copy and paste as a single long line.

[2018-02-16 08:43] nabadger commented on #8
Ok, this makes sense :)

[2018-02-16 08:50] nabadger commented on #7
Helm charts would be great.

Can I ask how you're intending to configure the dex-k8s-authenticator (and dex for that matter) with regards to supporting multiple clusters.

Would you run 1 per cluster? and what would that instance only provide tokens for that cluster?

We are currently running both dex and dex-k8s-authenticator outside of Kubernetes, and have it providing tokens for a few clusters

[2018-02-16 16:02] whereisaaron commented on #7
Hi @nabadger you can still support multiple clusters, the `dex` and `dex-k8s-authenticator` helm charts just takes a config file within its values, with any number of configured clusters.

I am using separate charts for `dex` and `dex-k8s-authenticator` so you can e.g.
- deploy a `dex` within each cluster, and then just one `dex-k8s-authenticator` somewhere (or maybe in just two clusters with a lo

[2018-02-16 17:16] whereisaaron commented on #7
I have added PR #9 with the helm charts and a README.

I have been testing with:
- `kube-aws` 0.9.9 and k8s 1.8.7
- `cert-manager` 0.2.3
- `nginx-ingress` 0.9
- `dex` 2.9.0
- `dex-k8s-manager` 0.0.2

[2018-02-16 20:33] whereisaaron opened #10 "Add an automated build to Docker Hub or Quay"
It would be nice to provide a reference build of the `dex-k8s-authenticator` container image somewhere.

I have made an automated build of my fork. You could do the same thing for this repo instead.
https://hub.docker.com/r/whereisaaron/dex-k8s-authenticator/

We should also start make SemVer releases, so e.g. apply a 'v0.1' tag and get Docker Hub to build each SemVer tag.

[2018-02-17 15:39] nabadger commented on #10
I'll take a look at this.

[2018-02-17 20:35] nabadger commented on #10
@whereisaaron I've setup and linked this repo on dockerhub, merged in PR #9 and created a v0.1.0 tag.

I've also updated the chart readme and values.yml to point at the mintel repo on dockerhub.

Thanks again.

[2018-02-17 20:35] #10 closed

[2018-02-17 20:38] nabadger commented on #7
This is now merged - thanks again.

I'll probably add the option to support network policies shortly, and test against a 1.9 cluster.

[2018-02-17 20:38] #7 closed

[2018-02-17 21:26] nabadger opened #11 "Extract and display useful information from the token"
ref issue #8

We currently dump the entire contents of the token for the user to validate.

The fields of interest are:

- email
- email_verified (maybe)
- groups
- name (maybe)

Extract this information and display it in a nicer format.

[2018-02-18 22:26] nabadger opened #13 "Add apiVersion override for helm-chart components"
apiVersion is hardcoded at the moment, but should be configurable.

[2018-02-18 22:42] nabadger opened #14 "Helm Chart network-policy"
This probably requires more thought.

Communication from dex to dex-k8s-authenticator would be over http/https (going via the ingress using redirects), so this is probably is not a candidate that requires a network policy.

Where it would be useful is between dex and it's connectors, such as ldap.

[2018-02-19 15:12] whereisaaron opened #15 "Get Docker version numbers without the 'v'"
Docker image version numbers conventionally don't have any prefix, like 'v' or 'v.' or 'ver'. But Github versions usually do have a 'v'. You can do both by having the 'v' in GitHub and using this pattern in Docker hub.

![image](https://user-images.githubusercontent.com/1109585/36384342-f66b8030-155c-11e8-9a46-e0c32186fa53.png)

[2018-02-19 15:21] whereisaaron opened #17 "Add sources and maintainers to Helm charts"
Added PR #16 to tweak charts. @nabadger Add yourself to the maintainers lists in `Chart.yaml`

[2018-02-20 12:51] nabadger commented on #17
Done

[2018-02-20 12:51] #17 closed

[2018-02-20 15:06] nabadger commented on #15
I've updated this on dockerhub. @whereisaaron I'll create a v0.2.0 tag soon which will include the helm chart options.

[2018-02-21 03:34] #15 closed

[2018-02-21 03:40] nabadger commented on #1
This makes sense, especially in the case where you have >1 clusters defined, and as long as there's enough logging in place.

[2018-03-01 01:44] eroji opened #18 "Question about certs in Helm config"
In the helm config, there are values for `tlsCert`, `tlsKey` and `k8s_ca_uri`. I understanding that it needs the Kubernetes CA cert in order to generate the kubeconfig, but is there a way to just put that into the config as a base64 value instead of having to host it somewhere? Also, what exactly are the `tlsCert` and `tlsKey` supposed to be? Since the authenticator will be sitting behind a TLS se

[2018-03-01 21:35] eroji opened #19 "Token page improvements"
I think some improvements on the token page are needed.

- The token should also be displayed in a seperate box with a link to the Kubernetes Dashboard if you have it deployed and available via ingress.
- The first command for retrieving the k8s-ca.crt is assuming you are in .kube directory already, which fails if you are somewhere else when running the command.
From:
[code]
To:
[code]
- Would be

[2018-03-02 15:27] nabadger commented on #19
I'll take a look that - relates to #8 which looks at UI changes for supporting Linux/Mac/Windows.

Regarding the kubeconfig file-download - I went away from that idea originally because I have >1 cluster defined (so i didn't want to override it).

I agree though, a full download would be useful.

[2018-03-02 15:36] nabadger commented on #18
The TLS options in Helm are all optional, but they exist in Helm to support the full set of features.

I'm not running dex or dex-k8s-authenticator in k8s, so this is why that option exists (Helm charts were contributed later).

Using `certificate-authority-data` could be optional - I feel it's generally considered cleaner to avoid this, but understand people do want to copy kubeconfig files aroun

[2018-03-02 17:43] nabadger commented on #19
There's also an issue with using `~/.kube/`, which might be a bug `kubectl` or some OS specific issue. It doesn't generate the correct `certificate-authority` path.
[code]

kubectl:
[code]

[code]

and the value in ~/.kube/config:

[code]

[2018-03-04 18:41] nabadger commented on #19
I'm not sure there's a workaround for this yet:

https://github.com/kubernetes/kubernetes/issues/7339

I've commented on the case. Ideally this can be fixed from within kubectl itself.

[2018-03-04 20:19] eroji commented on #19
Thank you

[2018-03-07 00:31] trinitronx commented on #18
Just to chime in with an important thing to note:  `certificate-authority-data` is useful for self-signed or otherwise untrusted certs.  Without it, users of `kubectl` will have issues when trying to use it against a `kube-apiserver`, or Identity Provider with self-signed or untrusted cert.  This is going to be the most common use case, because in my experience, few teams will choose to pay for an

[2018-03-07 00:42] eroji commented on #18
I have no issue with providing the k8s CA cert and it makes perfect sense. It's more about having the alternative option available where we can provide a base64 value and that can allow k8s-authenticator generate the full kubeconfig on-the-fly OR they can go with a hosted URI should they prefer doing that.

[2018-03-07 12:37] nabadger opened #21 "Helm - add option to supply custom labels on the deployment"
This has various use-cases (ours for example is to ensure the NetworkPolicy gets applied correctly via the pod-selector).

This applies for Dex and dex-k8s-authenticator.

[2018-03-07 14:41] nabadger opened #22 "Support Dex Web TLS options in Helm Chart"
Example here: https://github.com/coreos/dex/blob/master/examples/k8s/dex.yaml

Should end up with a Dex config like:
[code]

`tlsCert` and `tlsKey` can be mounted by k8s volumes.

Also pay attention to service ports (http vs https). We're currently binding to 5556 (we should probably use port 80 or 443 by default).

[2018-03-07 14:49] nabadger commented on #22
@whereisaaron - do you think it's reasonable to update the helm charts to default to port 80 for http (and 443 for https). At the moment it's the helm charts configure the service to port 5556 (or 5555 for dex-k8s-auth).

[2018-03-07 20:52] whereisaaron commented on #22
Sure, it doesn't really matter or clash whatever ports the Pod container and Service use, and they each have their own cluster IP. And only want port that is exposed via an Ingress or NodePort matters to the end user. I don't think there is a convention or best practice on whether Service ports should match the front-end/external port or match the back end port.

If the `dex` default/native port i

[2018-03-08 20:23] nabadger commented on #22
Started work on the [dex-helm-tls-support](/mintel/dex-k8s-authenticator/tree/dex-helm-tls-support) branch

TODO:
- [ ] Dex Supports listening on both https and http - config should support this
- [ ] DexK8sAuthenticator should support listening on both http and https (same as Dex)
- [ ] Replace `web` port name by `http` and `https`
- [ ] Current branch removes the ability to set path to .crt/.key

[2018-03-19 18:46] nabadger commented on #22
This is in progress - I'll be pushing updates soon to the branch (hopefully by end of week).

[2018-03-29 19:28] MnrGreg opened #25 "Token page: supply 'certificate-authority-data' base64 encoded CA as an option to the 'certificate-authority' CA file"
Being able to supply the base64 encoded K8s API CA in the config.yaml and Helm values would negate the need for hosting the CA file on we separate web service.

For example not only:
k8s_ca_uri
but also a second option:
k8s_ca_cert

- Means one can skip the first Token page step altogether "Copy Kubernetes CA certificate".
- Also windows clients don't need curl.

[2018-03-30 06:03] MnrGreg commented on #25
It seems one can't set the 'certificate-authority-data' directly with kubectl config. Instead one needs to provide the ca file location and specify --embed-certs which then populates the certificate-authority-data field in the config file. This will not achieve the desired result. Closing the issuing.

[2018-03-30 06:03] #25 closed

[2018-03-30 07:58] nabadger commented on #25
@MnrGreg Regarding Windows clients - how are you downloading the CA file into the desired location?

There's a related case #8 which asks for Windows client improvements.

[2018-04-02 17:59] MnrGreg commented on #25
With the k8s_ca_pem option one gets around the curl requirement. Not sure about 'cat' though. Perhaps one could look at using 'type' or 'echo'. Not sure how the line breaks will get handled.

I've seen options such as the below but this would require some work in the html.
(echo Here is my first line
echo Here is my second line
echo Here is my third line) > "my-new-pem-file.pem"

[2018-04-02 20:46] nabadger commented on #25
I think we'll end up re-working the html template to support Windows in a more general fashion. The current suggested idea is to have tabs per OS (where required)...and then each tab can have OS specific instructions.

[2018-04-12 21:57] FuzzOli87 opened #29 "client secret configuration"
Hello!

I'm using dex deployed via your charts except I'm using Ambassador to serve it. I'm looking at authenticator tools and this one is the natural choice. However, I'm a bit confused on how to configure it.

The configuration ask for a client_secret property, where would this come from?

[2018-04-14 02:13] FuzzOli87 opened #30 "You must be logged in to the server"
Hello,

I've installed both dex and dex-k8s-authenticator to use Google's service to login. The entire flow works however the generated components don't even let me make a request to the API server.

I get the following error:
**error: You must be logged in to the server (Unauthorized)**

I set up my apiServer configurations using KOPS and used the certificate it creates when creating the cluster.

[2018-04-14 06:52] nabadger commented on #29
Hi @FuzzOli87

For the Dex server component you configure `staticClients` and provide a `secret` for each client (in our case that might be 1 secret per cluster).

On the dex-k8s-authenticator side you configure the `client_secret` field for each cluster you define.

`secret` and `client_secret` need to match - they are just strings.

You will need to provide these though and this will depend on h

[2018-04-14 07:14] nabadger commented on #30
@FuzzOli87 So I would start by looking at the `kubeconfig` that you have generated.

At this point it's really about that config, Kubernetes, and the Dex server (for refreshing tokens)

So some things to check:

* Confirm you are using the generated config
* Confirm you can reach the `idp-issuer-url`
* Check that the expected k8s context is in use via `kubectl config get-contexts` - if you have mu

[2018-04-16 07:03] nabadger commented on #21
Not sure there's need for this yet.

[2018-04-16 07:03] #21 closed

[2018-04-25 15:52] MnrGreg commented on #4
PR #32 enables copy-to-clipboard.

We now need to work through the cli command alternatives for windows. e.g. cater for curl, cat EOF and true functionality.

Also referenced in #8

[2018-04-26 18:07] nabadger commented on #30
Closing for now - let me know if you still have issues.

[2018-04-26 18:07] #30 closed

[2018-04-26 18:08] nabadger commented on #29
Closing for now - let me know if you still have issues.

[2018-04-26 18:08] #29 closed

[2018-04-26 18:37] nabadger commented on #8
A howto on tabs: https://www.w3schools.com/howto/howto_js_tabs.asp

As part of this, we should also:

* For Linux/Mac, re-add the '\\' esc char to allow us to continue the command onto the next line (makes it easier to read)
* Look into the alt attribute tag on the copy-to-clipboard buttons as it stops us from be able to copy/paste everything in one go (that's still useful - I'm not sure how easy

[2018-04-27 17:43] whereisaaron commented on #8
A link to the official instructions is great. However for some clusters will need a specific version of `kubectl`. So how about rather that `curl` instructions, we provide just two links on the per-OS page:

1. A link to the official install instructions (or a configurable override URL, e.g. to a company Intranet page)
2. A download link to the appropriate Linux/Mac/Windows binary on the official

[2018-04-27 17:50] whereisaaron commented on #8
For PowerShell the c[ontinuation character is backquote](https://stackoverflow.com/questions/3235850/how-to-enter-a-multi-line-command), *but* there must be no whitespace after the backtick (on that line) or it won't work.

For `cmd.exe` the [continuation character is caret (^)](https://stackoverflow.com/questions/69068/long-commands-split-over-multiple-lines-in-windows-vista-batch-bat-file), *but

[2018-04-28 14:27] nabadger commented on #4
This is now merged to master and there's some improvements in the feat-multi-os-support branch (to be merged soon).

[2018-04-28 14:27] #4 closed

[2018-04-28 16:16] nabadger commented on #11
Something like this an be used to extract groups (and other) from the claims (which should just be a str)

[code]

[2018-04-28 18:32] nabadger opened #34 "Should we still maintain our dex chart?"
It looks like there's a Dex chart in the k8s charts repo now (not tried it yet).

https://github.com/kubernetes/charts/tree/master/stable/dex

Any thoughts on whether we should keep our own Dex chart? I don't see it requiring regular changes...but I like the idea of contributing to the official Dex chart  - or pointing people in that direction (assuming it gets maintained and takes PR's).

[2018-05-01 06:56] nabadger commented on #34
That's a nice idea.

I'll do a comparison soon and make some notes to see how different they are.

[2018-05-01 06:56] nabadger commented on #11
Will do this once we merge in the UI changes on the feat-multi-os-support branch.

[2018-05-03 11:30] kaliha opened #35 "Secret naming problem"
Hello. I try to start chart with secret data:
secrets:
[code]

But got an error:
`Error: release authz failed: Secret "authz-dex-k8s-authenticator-CA.crt" is invalid: metadata.name: Invalid value: "authz-dex-k8s-authenticator-CA.crt": a DNS-1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end with an alphanumeric character (e.g. 'example.com', regex

[2018-05-03 14:53] nabadger commented on #35
@kaliha it looks like the name has to be in lowercase.

Fow now try `ca.crt` instead of `CA.crt`

We can add a comment to the values.yaml to let people know they should use lower-case - we could also force lowercase in the template.

[2018-05-03 15:54] kaliha commented on #35
Thanks for reply. With 'ca.crt' same problem:
`Error: release authz failed: Deployment.apps "authz-dex-k8s-authenticator" is invalid: [spec.template.spec.volumes[1].name: Invalid value: "authz-dex-k8s-authenticator-ca.crt": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'my-name',  or '123-abc', regex used for

[2018-05-03 17:54] nabadger commented on #35
Ok, looks like k8s has a different regex spec for the volumeMounts compared to the secrets name.

This regex does not allow "."

I think this is going to cause a problem as `entrypoint.sh` copies *.crt which is a requirement of `update-ca-certificates` (it has to end in .crt) - so we can't workaround this by just renaming the secret and removing the "."

The naming of the .crt file is associated w

[2018-05-03 18:09] nabadger commented on #35
@kaliha  can you try this branch: https://github.com/mintel/dex-k8s-authenticator/tree/fix-cacerts-naming

If it works for you - I'll merge to master.

I've not fully tested it yet, but the created manifests seems valid on my k8s setup.

[2018-05-03 19:58] kaliha commented on #35
Strange thing: i use ca for issued certificate, but app says:
`Get https://dex.k8s-test.***.com:5556/dex/.well-known/openid-configuration: x509: certificate signed by unknown authority`
Is there any directive to use custom CA?

[2018-05-03 21:45] nabadger commented on #22
Will continue work on this after the UI updates are released.

[2018-05-03 21:46] nabadger commented on #35
For dex-k8s-authenticator the custom CA should have been mounted in the POD at /certs - the entrypoint script should have added it to the bundle.

If you exec into the pod running the dex-k8s-authenticator you can confirm this.

I'm not sure how you configured the dex-server component. If you think TLS is configured correctly there, then you can validate your CA on the dex-k8s-authenticator side b

[2018-05-11 16:15] whereisaaron commented on #34
dex-k8s-authenticator can point to multiple clusters and dex instances, so it not really a dependency. If we test the repo 'dex' chart and it is good, then we can update our instructions to use the dex-k8s-authenticator chart together with the repo chart and drop ours. We only provided because the dex project didn't have one.

[2018-05-11 16:22] kostyrev opened #37 "Error: apiVersion "apps/v1beta2" in dex/templates/deployment.yaml is not available"
Is v1beta2 really necessary?

[2018-05-12 08:13] nabadger commented on #37
So  apps/v1beta2 for 1.8 clusters and apps/v1 for 1.9 clusters.

It really depends what version of the k8s people are running right?

There doesn't seem to be any real consistency on how charts are developed (from what I can tell). I'm guessing people fork charts and update as required to suit their own cluster. Ideally a chart maintainer would support the latest stable - but k8s moves fast, so I

[2018-05-12 14:17] nabadger commented on #13
Just reading up on this - we can use helm's `.Capabilities.APIVersions` to determine this automatically.

Affects other resources too (rbac for example), not just Deployment's

[2018-05-16 18:28] nabadger opened #39 "Bump dex to v2.10.0"
Update our dex-chart to use the latest release by default

Release notes

https://github.com/coreos/dex/releases/tag/v2.10.0

[2018-05-25 17:41] eroji opened #40 "No page styling when running authenticator under a path"
I am trying to deploy k8s-authenticator under /login path while I managed to get Dex working under /dex. It seems like a good way to make the URL clean and neat. However, when the pod spins up with Nginx ingress rule, the authenticator page loads with no styling at all. My guess is, it is not able to see that the context path should now be /login. Is there a way to fix this?

[code]

[2018-05-26 09:02] nabadger commented on #40
@eroji I'll take a look.

There is a problem with the re-write of static html and I can re-reproduce it now.

There is however another issue here (I think) in that you're using `/login` - the `dex-k8s-auth` app. generates this URI internally, so you will probably end up with `/login/login` if you go down this route.

If you avoid setting your ingress rule to `/login` and just have `/` - this setup

[2018-05-26 21:05] eroji commented on #40
It doesn't necessary have to be '/login'. That was just a path I picked arbitrarily. My goal is to have / served by a static page, most likely deployed via a webserver pod, which will have landing page for users with links to the dashboard, to k8s-authenticator and potentially other cluster related assets, also some path for serving the apiserver CA cert. I think it would be the cleanest solution

[2018-05-28 12:55] nabadger commented on #40
I was thinking this could maybe be achieved with some of Ingress options - but tbat depends on the Ingress impl. used (for example nginx `sub_filter` might achieve this).

For now I'll take a look add something like a `webPathPrefix` that can be done as a config option - that way it can all be handled by the dex-k8s-auth application

[2018-06-04 19:22] eroji commented on #40
Just a quick node, I had to modify Dex deployment config for the health check URL to be /dex/healthz instead. The standard /healthz that came with the Helm chart was causing the liveness monitor to kill the pod repeatedly. I tried playing with ingress annotation to possibly get around this without avail so that was what I had to resort to.

[2018-06-05 17:00] nabadger commented on #40
Ok, I'll take that into account and add an optional override for health-check urls.

Should be able to get to this at the end of the week 👍

[2018-06-05 17:19] nabadger commented on #35
Fixed

[2018-06-05 17:19] #35 closed

[2018-06-05 17:21] #3 closed

[2018-06-05 17:22] nabadger commented on #2
There's no real push for this yet - I'll close it for now.

[2018-06-05 17:22] #2 closed

[2018-06-05 17:24] eroji commented on #40
Awesome! Thank you!

[2018-06-08 15:45] nabadger commented on #40
@eroji There's a branch you can look at above - I've tested it in minikube using the Helm charts.

If you don't want to build the image, there's one that I've uploaded here: `nabadger/dex-k8s-authenticator:feat-path-prefix`

You should just need to set the  `web_path_prefix` in the dex-k8s-auth. helm chart values, and point it to the above image.

Make sure the prefix has a trailing slash, like `/

[2018-06-08 17:47] eroji commented on #40
Thank you. However, I think there is something funky going on with the liveness/readiness monitors. It's not detecting the pod in "ready" state.

This is the Helm chart I am using for deploying.
[code]

[2018-06-08 18:48] nabadger commented on #40
I'll have a look - when I worked on it earlier my ingress path would have been `/`

[2018-06-08 20:06] nabadger commented on #40
@eroji This still works on my setup (now with the same ingress path).

Do you get a chance to see any logs (`kubectl logs`) from the dex-k8s-auth pod?

If not, what does `kubectl describe` on the pod show - the health checks should just be referencing `/auth/`

Most of the time when dex-k8s-auth fails to start, it's because it can't validate the issuer.

If you fire up a busybox pod, then try and

[2018-06-08 20:23] nabadger commented on #40
@eroji ah - your helm config is wrong, as `web_path_prefix` works at the top level such as

[code]

[2018-06-08 21:44] eroji commented on #40
Looks like I still had to override the liveness/readiness path to /auth for it to be available. However, it's still showing the page without styling. Do I need any particular nginx ingress annotation?

[2018-06-09 07:13] nabadger commented on #40
You don't need anything on the ingress, nor do you need to override the liveness/readiness path's as that's taken from `web_path_prefix` and the helm template configures that for you.

Can you confirm you are using the helm charts from the `Feat path prefix` branch?

It should have the following in `./charts/dex-k8s-authenticator/templates/deployment.yaml`

[code]

Here are the full helm values th

[2018-06-11 18:49] eroji commented on #40
Ok, that was my problem. I needed to pull down the branch. It is working now. Thank you very much and my apologies for the confusion!

[2018-06-11 18:49] #40 closed

[2018-06-11 19:15] nabadger commented on #40
Ok sure - I'll merge this to master and add documentation and create a new release this week.

[2018-06-11 19:31] eroji commented on #40
I noticed that in your example, Dex is using it's own hostname and /. Since I was using /dex for the same hostname as authenticator, I did need to override the /healthz check like I did before.

[2018-06-19 21:24] trinitronx opened #42 "Specifying caCerts in Helm chart values results in unused CA certificates"
Just tested this with the following:

[code]

It looks like the `Deployment` does end up with these listed as mounts:

[code]

However, I still get validation errors.  You can see that these files are actually mounted as directories inside the Pod:

[code]

If we inspect the file location on the Kubernetes host machine, we can see that it treats only the `name` as the true filename, while `ca1.crt

[2018-06-19 22:28] trinitronx commented on #42
Because we can't rely on Kubernetes or Docker to treat these file mounts as files, perhaps the following workaround could solve the problem.

### Suggested workaround:

1. Mount each listed `.Values.caCerts.secrets` as normal valid kubernetes `name` without a dot `.crt` (e.g. `ca-cert1`, `ca-cert2` as exact same names)
2. Change `/entrypoint.sh` to copy the files from `/certs` to the `/usr/local/s

[2018-06-27 22:19] AlexMorreale opened #45 "use ENV vars in config file"
I'd love to be able use ENV vars from a kubernetes secret in the config file.
Right now we have to make the whole config secret instead of configmap.

I saw this in the change log:
[code]

would this unreleased feature allow me drop `client_secret: <redacted> ` from my configmap and just use an ENV var to specifiy the `client_secret`.

Also love the tool. It makes it so much easy for our developer

[2018-06-27 22:32] AlexMorreale commented on #45
Looks like the code in the PR for that change only happens when you dont specify and a config file?

Correct me if i am wrong here.

[2018-06-28 12:08] nabadger commented on #45
@AlexMorreale  thanks for feedback :)

The `latest` image should support this but there's a limitation in the Helm template at the moment as it doesn't let you pass in `env` to the podspec (I'll create an issue to track/add this as it's simple enough).

If you're rolling your own manifests, here's how you can do it.

dex-k8s-authenticator config:

[code]
kubernetes secret:

[code]

pod-spec

[code

[2018-06-28 14:31] AlexMorreale commented on #45
luckily i am rolling my own manifests(gives us more flexibility and allows us to use traefik as our ingress infront of them)

I actually tried something similar to this and im getting a client_

[code]
when i return from dex to dex-k8s-authenticator

[2018-06-28 14:58] AlexMorreale commented on #45
oddly enough this works if i just use a straight up environment variable not from a secret

[code]

[code]

[2018-06-28 16:04] AlexMorreale commented on #45
nvm i figured it out it was kubernetes secret issue when base64 encoding for env vars the kubernetes docs recommand `echo -n` over `echo` for piping into `base64`.

bad:
[code]

good:
[code]

Really sorry for the hassle. Left the long comment to help others in the future.

[2018-06-28 16:05] #45 closed

[2018-07-04 07:54] #13 closed

[2018-07-08 12:53] nabadger commented on #39
Pushed to master - there's no breaking changes.

[2018-07-08 12:53] #39 closed

[2018-07-08 12:55] nabadger commented on #8
I'll close this for now as it's available on master.

I'm working on some updates to documentation and a new release.

[2018-07-08 12:55] #8 closed

[2018-07-08 12:57] nabadger commented on #37
Fixed as per  #44

Thanks again.

[2018-07-08 12:57] #37 closed

[2018-07-08 12:59] nabadger commented on #14
Closing for now as we don't require it.

[2018-07-08 12:59] #14 closed

[2018-07-08 14:51] nabadger commented on #42
Just looking into this a bit more before merging the PR. I thought it used to work, but I believe I've also used ConfigMap's in the past

[2018-07-08 16:11] nabadger commented on #42
@trinitronx I think I know what's happening.

I can re-produce the same behaviour when the `subPath` value does not match the secret data name. It ends up creating a directory instead of a file.

In the helm deployment template, `subPath` is using the `filename` field. It should be using the `name` field I believe.

i.e.:
[code]

Could you try this?

[2018-07-11 17:30] praveendhac opened #46 "helm installation of dex does not deploy functional server"
Deployed Dex using
[code]

Accessing https://dex.ingress.dex-server.example.com/ in the browser thrown 404 error
Accessing https://dex.ingress.dex-server.example.com/callback in the browser throws error "Bad Request. User session error."
Accessing https://dex.ingress.dex-server.example.com/healthz in the browser works fine, "Health check passed in 24.320217ms"

Processes running on Pod and running

[2018-07-12 13:56] praveendhac opened #47 "dex-k8s-authenticator Helm chart image issue"
dex-k8s-authenticator helm chart user below Docker image
[code]
But when the helm chart is deployed the container never comes up, error `CrashLoopBackOff `
[code]

Error
[code]

Full events
[code]

[2018-07-12 19:52] nabadger commented on #47
Looking at this now

[2018-07-12 20:01] nabadger commented on #47
@praveendhac It looks like you're deploying the Dex chart with the dex-k8s-authenticator values (they are 2 independent charts)

I think you should be using:

[code]
.

Let me know if this makes sense and fixes the issue for you.

[2018-07-12 20:11] nabadger commented on #46
I can take a closer look tomorrow, but my initial thoughts are that this is expected behaviour.

Dex provides a set of URL handlers, but nothing listening at '/` - think of it like an api-gateway.

Can you confirm the below URL returns a 200:

 https://dex.ingress.dex-server.example.com/.well-known/openid-configuration

In order to authenticate via `dex`, you initiate the request against the ingre

[2018-07-12 20:16] nabadger commented on #46
Also, I think you need to configure `staticClients` in the dex config (which links back to the dex-k8s-authenticator app) using the shared secret

[2018-07-12 21:55] praveendhac commented on #46
Is it mandatory to deploy dex-k8s-authenticator.

Below URL is returning 200, Dex Server is running fine.
https://dex.ingress.dex-server.example.com/.well-known/openid-configuration

Is this expected, accessing https://dex.ingress.dex-server.example.com/callback in the browser throws error "Bad Request. User session error."?

Also, execution of `kubectl` prompts for https://microsoft.com/devicelog

[2018-07-12 22:03] praveendhac commented on #47
dex-server-ns is the namespace where Dex is deployed so deploying dex-k8s-authenticator- in the same namespace.

Helm deployment command used
[code]
$ kubectl get all -n dex-server-ns
NAME                                                             READY     STATUS             RESTARTS   AGE
pod/dex-server-app-helm-dex-k8s-authenticator-69d456968c-b4d2p   0/1       CrashLoopBackOff   3          1m

[2018-07-13 04:53] nabadger commented on #46
It's worth reading this - https://github.com/coreos/dex/blob/master/Documentation/kubernetes.md

This repo simply providers a web-ui that mimics what the `example-app` described in the above url, but also provides a web-interface for it and makes it easier to integrate with `kubectl`

Just to clarify, this repo. is not associated with the official Dex project.

The key task that this helper perfor

[2018-07-13 05:04] nabadger commented on #47
@praveendhac can you show the output of `kubectl describe pod <pod>.` and `kubectl logs <pod>` for the dex-client-app here?

[2018-07-13 08:16] nabadger opened #48 "Improve documentation"
There's some new functionality that isn't documented

- `k8s_pem_ca`: enables you to embed the k8s-ca in the config (and avoid having to setup an external hosting solution
- `trusted_root_ca`
- `idp_ca_uri`
- Updates to Dex helm chart to support TLS
- `web_path_prefix` option (which is sitting in a PR currently)

[2018-07-13 13:00] nabadger commented on #47
Ok, so if dex-k8s-authenticator cannot contact the the dex-server, it will crash on startup - there's an outstanding issue to resolve this, but it's not actually a problem since kubernetes will retry anyway.

The key issue here is that the pod cannot contact the dex-server instance.

It looks like it can't talk to `https://dex-server-cpu-worker-b5f659cc4-r24ld:10250`

It should be contacting it vi

[2018-07-13 13:40] nabadger commented on #47
What if you create a busybox instance (same namespace) and try to `wget` or `curl` https://dex.ingress.dex-server.example.com/healthz

Another way is to modify the dex-k8s-authenticator yaml and override the `cmd` and `args` option:

[code]

This will run a pod using the dex-k8s-auth image, but let you exec into it and debug it further.

[2018-07-13 17:13] trinitronx commented on #47
@praveendhac :  Looks like same behavior when `Ingress` DNS records for `dex.example.com` don't exist or are not connectable as described by @nabadger

You'll probably see errors like the following If you can get logs out of last crashed pod.  Looks like your `kubectl logs [...SNIP...]` command is not able to access logs on the old pod because it's already gone!   You might have luck getting logs

[2018-07-13 18:49] nabadger commented on #48
In addition, these could be fed into the example configs.

[2018-07-13 18:55] nabadger commented on #47
It might just be that Dex itself isn't running:

The command you pasted above shows:

[code]

I believe you were intending to run Dex in the same namespace - if so, then you should expect to see Dex running in this above command (unless you stripped out that output)

[2018-07-14 01:15] praveendhac commented on #47
Output of kubectl get all -n dex-server-ns has pods for dex and authenticator, deployments, services etc., just pasted dex-authenticator output to reduce unnecessary verbosity.

[2018-07-14 05:41] nabadger commented on #47
This still looks like a networking / routing / dns / ingress issue to me.

Are you running a NetworkPolicy or a service-mesh?

The easiest way of debugging this that I've found is per https://github.com/mintel/dex-k8s-authenticator/issues/47#issuecomment-404836681

If you modify the deployment to not run dex-k8s-auth on start, that will let you `exec` into the pod. From there you can debug network

[2018-07-16 12:07] praveendhac commented on #47
I think there is domain name mismatch error in Dex Authenticator Pod.

[code]
Can I use below config to bringup Dex Server with custom certificates.
[code]

[2018-07-16 14:04] praveendhac commented on #47
Also figured out, self-signed certificates will not work.
[code]

[2018-07-16 14:54] nabadger commented on #47
@praveendhac @trinitronx

You can add certs in the dex-k8s-authenticator helm chart (see `values.yaml`), but we think we've identified a recent bug.

There's an open case #42 which suggests a bug in how the certs are mounted in dex-k8s-authenticator helm chart. I believe there's a quick fix suggested here https://github.com/mintel/dex-k8s-authenticator/issues/42#issuecomment-403298226

If that wor

[2018-07-16 16:24] praveendhac commented on #47
@nabadger
I followed below steps which worked for me.
Create Certs (used lets encrypt as self-signed certs are not working)
[code]
Modify ingress for Dex Server and Dex Authenticator as shown below
[code]

[2018-07-16 17:16] nabadger commented on #47
@praveendhac  great - glad you got it working.

I'll close this for now, but will prioritise a few things

1 - documentation
2 - fixing dex-k8s-auth helm chart for self-signed certs
3 - updating dex helm chart for self-signed certs

[2018-07-16 17:16] #47 closed

[2018-07-17 18:20] nabadger commented on #22
I've merged recent changes from #50. I'll close this for now and create a releases one documentation is updated as per #48

[2018-07-17 18:20] #22 closed

[2018-07-27 13:15] alcasim commented on #42
Hi @nabadger I tried modifying the deployment template as you suggested and worked fine for me too :)

[2018-08-02 21:14] luispollo opened #51 "Ingress with path rule does not work"
It looks like the code has hard-coded absolute paths for the static assets (`/static`), so if you use a path rule in the ingress, only the index page loads, but the assets don't. I'm using the NXING ingress controller and tried different combinations of annotations hoping that would fix the problem, but couldn't make it work.

Sample ingress config:
[code]

P.S. Thanks for contributing this -- it'

[2018-08-03 13:08] nabadger commented on #51
@luispollo

There's a branch `feat-path-prefix` that should be complete now that will support custom path prefixes:

https://github.com/mintel/dex-k8s-authenticator/tree/feat-path-prefix

Are you able to try this?

It requires a new image to built, and introduces `web_path_prefix` option in the config as per https://github.com/mintel/dex-k8s-authenticator/blob/feat-path-prefix/examples/config.yaml

[2018-08-03 19:44] luispollo commented on #51
Hi @nabadger. Thanks for the feedback. I've switched back to host-based routing for now to get unblocked, but I'll try to squeeze some testing time in next week and get back to you.

[2018-08-06 22:10] #42 closed

[2018-08-07 20:13] nabadger opened #53 "Support nodePort 'port' specification via helm chart"
This is fairly useful for debugging / testing.

At the moment we can specify the service `type` to be `NodePort,` but we don't have way specific the `nodePort` in the service template.

[2018-08-08 17:26] nabadger commented on #51
@luispollo I've just merged a PR to `master` which you can try:

If you're using helm, you need to the latest charts as well.

The key difference is that the config now supports `web_path_prefix` option.

Example:

[code]

Supports browsing to `http://127.0.0.1:5555/k8s-auth/`

I'm not too sure what Ingress settings are required for this to work yet - maybe just ` path: /k8s-auth/` ?

I'm working

[2018-08-08 19:44] nabadger opened #54 "Helm chart not supporting serving requests on SSL"
chart hardcodes `listen` option like so:

[code]

Should just be able to support listen addess in chart-values, such that we end up with:

[code]

[2018-08-09 08:10] nabadger opened #56 "Fix dex health check probes to support ingress paths at non-root"
The readiness and liveliness probes are hardcoded at `/`in the helm charts.

If you want to serve `dex` at a different url (usually via an ingress path), this needs to be customisable.

At the moment if you define a non root path, the checks fail and the pod gets killed.

We should introduce dedicated helm chart options for this.

Also make consistent with the `dex-k8s-authenticator` chart.

#51

[2018-08-09 08:12] nabadger commented on #51
I tried this with minikube and found an issue with the dex health check probes (hardcoded to `/`) - apart from that, routing based on paths seems to work for me now.

[2018-08-09 08:16] nabadger commented on #34
Closing this for now.

Some new documentation I'm adding now references the official chart, but I'm fine with maintaining ours for now.

[2018-08-09 08:16] #34 closed

[2018-08-09 08:25] nabadger commented on #18
The config now accepts `k8s_ca_pem` for each cluster - see #26

Since the helm chart just takes the `clusters` yaml spec, this should work in any `values.yaml` you provide.

[2018-08-09 08:25] #18 closed

[2018-08-09 08:30] nabadger opened #57 "Create a new 1.x release"
There's been numerous changes since the last release - `master` has some breaking changes so we should cut a new release.

- Create `1.0.0`
- Update chart versions to match
- Update `Makefile` (just tag as `latest`)
- Update changelog
- Be stricter with semantic versioning for any future releases

[2018-08-09 13:14] #48 closed

[2018-08-09 13:19] nabadger opened #59 "Helm chart does not support a way to pass in tls_cert / tls_key"
If we generate self-signed certs, the dex-k8s-authenticator helm chart does not provide a way to pass these in.

[2018-08-13 08:06] #53 closed

[2018-08-13 09:26] #56 closed

[2018-08-13 09:31] nabadger commented on #51
@luispollo I've merged in a fix to `master` now - should work against the `latest` image which is building now.

The health-check paths should now be automatically determined based on either:

1 - A custom `healthCheckPath` value in Helm
2 - The `ingress.path` value
3 - The `web_path_prefix` value

Default is still `/healthz`

[2018-08-15 09:51] nabadger commented on #59
Note, this is regarding the ability to pass in those files via `volumeMounts`

[2018-08-15 09:53] nabadger opened #62 "Add option to provide idp-certificate-authority inline"
At the moment we only support `IDPCaURI`

We should support this inline, in a similar way to `K8sCaPem`

By doing this, we avoid any need to reference files hosted on external sites.

[2018-08-16 15:55] legal90 opened #63 "ClientID is used as cluster name value in templates"
Hi!

First - thank yo so much for this project and especially for helm charts which you provided for both of `dex` and `dex-k8s-authenticator` ! 👍

But when I looked on the page with kubectl commands rendered after the successful authentication, I've noticed that in some places it uses `.ClientID` instead of `.ClusterName` (when the latter looks more reasonable). For example:

https://github.com/m

[2018-08-16 20:14] nabadger commented on #63
@legal90 This is an oversight on my part, as we've always used different `client_id` values (which are essentially the cluster-name for us, so we've not hit this issue).

As you say, using `.ClusterName` would avoid any possible conflicts.

If you could submit a PR that would be great 👍

[2018-08-17 11:04] #63 closed

[2018-08-17 11:04] nabadger commented on #63
Thanks again 👍

[2018-08-20 18:05] nabadger commented on #57
Done and built

[2018-08-20 18:05] #57 closed

[2018-08-22 07:09] nabadger opened #65 "Add additional documentation regarding web_path_prefix"
- Add information on why it's useful
- Add information on how the Dex `redirectURI` values should change
- Add information on on how the Ingress path would should (typically should match web-prefix-path)

Given an example of how the `Dex redirectURI`

[2018-08-27 11:37] #65 closed

[2018-08-27 11:38] #51 closed

[2018-08-28 14:34] luispollo opened #68 "[Question] How to get Dex to reload config file into CRDs?"
Hi @nabadger, sorry to open an issue to ask a question, but I was hoping you may have experience with this scenario and might be able to point me in the right direction...

We've been using your charts for dex and dex-k8s-authenticator (thanks again for those!), and everything was working fine until we had to add a new OAuth2 Client in dex's config. We can't seem to make dex pick up new values in

[2018-08-28 15:28] nabadger commented on #68
@luispollo We had the same issue. As far as I'm aware it's not recommended to work with the Dex CRD's in this way (I'll try to dig up some documentation on that).

There was some hope that Dex would impl. wildcards for redirectURIs:
https://github.com/coreos/dex/issues/991

but it's against the spec, so the issue got closed.

I ended up writing a client which interacts with Dex via `gRPC` to add s

[2018-08-28 15:29] nabadger commented on #68
My initial hope was that Dex would support `sighup`, but sadly it doesn't, so no way to get the config reloaded (it might be worth raising an issue with the CoreOS guys to see if that can be supported?)

[2018-08-28 15:38] luispollo commented on #68
Thanks a lot for the quick feedback @nabadger. We just figured out what it was. It was our fault, actually. 😄

I had the wrong client ID encoded in a secret on the starting end of the flow (we're using [oauth2_proxy](https://github.com/bitly/oauth2_proxy) in front of the Kubernetes Dashboard with dex as the IdP).

Closing this. Thanks again!

[2018-08-28 15:38] #68 closed

[2018-08-28 15:41] nabadger commented on #68
:+1:

[2018-08-30 14:48] #62 closed

[2018-08-31 08:37] nabadger commented on #11
Will probably do this now (might make it an option in the config to display the simple version).

Also remember to take into account that groups are optional.

[2018-09-05 18:10] praveendhac opened #70 "make "charts" a helm/helmsman repo"
The charts cannot be directly used with helm/helmsman. Need to make the charts directory a helm repo.

*config1
[code]
*config2
[code]

[2018-09-06 15:09] nabadger commented on #70
@praveendhac Do you have this working for any other Git repos? It looks like to me like it's meant to point to a charts repo, such as https://github.com/helm/chartmuseum

If not, try `https://github.com/mintel/dex-k8s-authenticator/tree/master/charts/dex-k8s-authenticator` as the URL.

[2018-09-07 11:39] praveendhac commented on #70
The URL does not follow chart repository structure,
https://github.com/helm/helm/blob/master/docs/chart_repository.md

[code]

[2018-09-07 16:41] nabadger commented on #70
That is for if you want to host your own charts repository - it's basically a collection of charts packaged up with an `index.html` that you can browse/download via the web.

It's not a structure you would apply to a single chart.

[2018-09-10 11:09] praveendhac commented on #70
Because of the missing index.yaml file, the repo cannot be used by helmsman. Has to convert the repo into helm repo and push to our local repo to use dex-k8s-authenticator/dex charts.

[2018-09-10 12:43] nabadger commented on #70
@praveendhac I understand, but as far I know this is not common practise.

The `index.yaml` links to the helm packages that are pre-built `(tar.gz`). It's not common practise to add pre-built packages to Git right? These tend to live in a dedicated helm repo.

[2018-09-10 15:53] nabadger opened #71 "Dex repo has moved (as coreos is now owned by redhat)."
https://github.com/dexidp/dex

Check location of images (as I suspect they will change too) and we'll need to adjust our chart values.

[2018-09-10 19:00] nabadger commented on #70
Note, if this is works, I'll probably add a `mintel/charts` repo so that any charts we develop and opensource can be available (rather than having the repo under `mintel/dex-k8s-authenticator`

[2018-09-13 20:17] nabadger commented on #71
New release at: quay.io/dexidp/dex:v2.11.0

[2018-10-18 14:28] solovyevt opened #73 "Dex chart should be removed from repository"
It is redundant to keep Dex Helm chart in this repository, we should leave Helm chart only dex-k8s-authenticator and a good explanation of how to integrate it with Dex chart taken from stable/Dex repository.

[2018-11-21 07:43] nabadger commented on #70
Closing due to inactively.

[2018-11-21 07:43] #70 closed

[2018-12-05 13:21] praveendhac opened #76 "authenticator and dex don't pick the new config automatically"
When there is change in authenticator app config or dex server config the pods does not pick the config automatically. Users have to delete the pod so that new pod comes up with latest config.

[2018-12-05 13:31] praveendhac commented on #76
How to commit my changes
`$ git push --set-upstream origin 76-pods-automatically-pick-configmap
remote: Permission to mintel/dex-k8s-authenticator.git denied to praveendhac.
fatal: unable to access 'https://github.com/mintel/dex-k8s-authenticator/': The requested URL returned error: 403`

[2018-12-05 13:32] praveendhac commented on #76
Need to bump chart versions too
`$ git diff
diff --git a/charts/dex-k8s-authenticator/templates/deployment.yaml b/charts/dex-k8s-authenticator/templates/deployment.yaml
index 53891bf..c4e7d74 100644
--- a/charts/dex-k8s-authenticator/templates/deployment.yaml
+++ b/charts/dex-k8s-authenticator/templates/deployment.yaml
@@ -27,6 +27,8 @@ spec:
         app: {{ template "dex-k8s-authenticator.name"

[2018-12-09 13:43] nickmintel commented on #76
@praveendhac  thanks, this looks useful I'll add it.

If you did want to submit a patch, you just need fork the repo, make your change on your fork and submit a pull-request via github.

[2018-12-10 18:19] praveendhac commented on #76
FYI, https://github.com/praveendhac/dex-k8s-authenticator/commit/c7d4bbb271cb50353b2a508d9a4c909163890718

[2018-12-10 19:50] nickmintel commented on #76
Thanks @praveendhac  this is now merged. I'll create a new release.

[2018-12-12 09:40] nabadger commented on #76
Added v1.1.0 tag (image is building now).

Thanks again

[2018-12-12 09:40] #76 closed

[2018-12-12 09:41] nabadger commented on #71
Now bumped to 2.13.0 in our v1.1.0 release.

[2018-12-12 09:41] #71 closed

[2019-01-04 18:53] kfox1111 opened #80 "client secret"
I'm trying to understand how dex-k8s-authenticator can be properly setup to work with the cli. My understanding is cli clients should be marked public for security reasons. This means they don't have a client secret. dex-k8s-authenticator is a web app, and should be a non public client with a redirect url defined. I would think dex-k8s-authenticator would give back a token for the public client an

[2019-01-05 15:45] nickmintel commented on #80
@kfox1111 I'm reading up on this some more as I'm not all that familiar with the OIDC spec.

I thought that `client-secret` was required in order to support the refreshing of the token once it expires:

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#option-1-oidc-authenticator.

Also, my understanding is that the `client-secret` here is not considered secret in this scenar

[2019-01-06 17:53] kfox1111 commented on #80
Yeah, that is a good issue to review. particularly:
 liggitt's comment from Dec 1, 2016

My understanding is with dex, you should setup 2 different clients. one for the webapp, and one for the cli. The cli one should be public and only have a localhost redirect url. the webapp client should be able to request tokens issued for the cli instead of requesting tokens for itself. It should not hand out

[2019-01-10 17:25] kostyrev opened #81 "livenessProbe and readinessProbe paths"
[code]
Is that what it should be set to by default?
curl for /healthz shows the same "Generate Kubernetes Token" page as before.

[2019-01-11 13:42] nabadger commented on #81
@kostyrev At the moment yes. I wanted to add a dedicated health and readiness endpoint (the readiness would probably check that Dex is accessible).

[2019-01-16 11:03] #81 closed

[2019-01-28 20:52] nickmintel opened #82 "Added extra-scopes to kubeconfig once generated"
Code calls

`scopes = append(scopes, "openid", "profile", "email", "offline_access", "groups")`

Should add this to the generated kubeconfig as well:

[code]

[2019-01-28 20:57] nickmintel commented on #82
Also, probably make these scopes configurable via the config rather than hardcoding them into the template.

[2019-02-01 11:56] nickmintel commented on #82
Not sure this is possible since `kubectl` ignores extra-scopes anyway...hmm.

https://github.com/kubernetes/kubernetes/blob/8b98e802eddb9f478ff7d991a2f72f60c165388a/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go#L126-L129

[2019-02-11 07:42] FreakyGranny opened #85 "kubectl_version don't get from env variable"
I setup config.yaml with env variable, but at result page kubectl download link look like

`https://storage.googleapis.com/kubernetes-release/release/${KUBECTL_VERSION}/bin/linux/amd64/kubectl `

my config:

[code]

[2019-02-11 09:40] nickmintel commented on #85
Thanks - will have a look. Looks like kubectl_version is coming straight from `viper.String` (by-passing our built-in env-substitution).

Will take a look soon.

[2019-03-22 07:52] nickmintel commented on #73
Moving forward with this:

- Drop dex chart and current documentation for it in this repo
- Add new documentation
  - Direct users to https://github.com/helm/charts/tree/master/stable/dex
  - Update examples/docs to show how you can use both

[2019-03-22 08:16] nabadger commented on #73
#92

[2019-03-22 08:19] nabadger commented on #73
See https://github.com/helm/charts/blob/master/CONTRIBUTING.md#technical-requirements

Some things to note:

- dex-k8s-authenticator currently goes into crash state until it can resolve dex-idp
- Add a `requirements.yaml` and make dexidp a dependency

[2019-04-16 07:11] desaintmartin commented on #73
It would be a good excuse to get dex-k8s-authenticator listed in hub.helm.sh (https://github.com/helm/hub/blob/master/Repositories.md)!

[2019-04-16 07:13] desaintmartin opened #94 "Get dex-k8s-authenticator chart listed in hub.helm.sh"
Getting dex-k8s-authenticator listed in hub.helm.sh (https://github.com/helm/hub/blob/master/Repositories.md) would allow "easy" installation from helm, and even easier installation when helm goes decentralized in a few months.

[2019-04-18 16:42] yann-soubeyrand commented on #80
@kfox1111, @nickmintel I totally agree with @liggitt's understanding.

[2019-04-20 08:30] nabadger commented on #94
@desaintmartin thanks for this.

Our current plan looks like:
- Drop our helm charts for the actual Dex app, since that is already available in the official repo.
- Update our docs on how to combine dex and dex-k8s-auth
- Get dex-k8s-auth into the official helm charts repo

[2019-04-29 15:06] #82 closed

[2019-07-24 12:50] rca0 opened #100 "Does dex-k8s-authenticator support SAML settings?"
I am using Okta to login with DEX

![image](https://user-images.githubusercontent.com/38728338/61794837-6f298f00-adf8-11e9-9e07-65912fe9b05b.png)

In dex configurations i got login successful

![image](https://user-images.githubusercontent.com/38728338/61794169-ef4ef500-adf6-11e9-85f0-e7f7a854ef85.png)

But using dex-k8s-authenticator i got this error:

![image](https://user-images.githubuserconte

[2019-07-24 12:57] rca0 commented on #100
I opened this issue because i not found any solutions for SAML, if someone have some suggestion i appreciate the help

[2019-07-24 14:21] nabadger commented on #100
@rca0 SAML is supported (we use it), but it's configured in Dex (not dex-k8s-authenticator).

dex-k8s-authenticator doesn't require any knowledge of the authentication connector method (so you won't see a reference to it).

See https://github.com/dexidp/dex/blob/master/Documentation/connectors/saml.md

[2019-07-24 14:44] nabadger commented on #100
@rca0

This looks to me like an issue related to dex testing the client-secret

[code]

Maybe check your client-secrets (see dex `staticClients.secret`) should match 'client_secret' in dex-k8s-auth config.

[2019-07-24 15:02] rca0 commented on #100
@nabadger

Thanks for your quick reply!!!

now i got it, maybe my SAML settings could be wrong, i am using okta to manage groups and users, i'll adjust my `client-secrets`

maybe i'm doing something wrong...i dont know if my settings it's right, this is my SAML settings in OKTA

![image](https://user-images.githubusercontent.com/38728338/61804554-78bbf280-ae0a-11e9-8cff-4a9722593f23.png)
![image](

[2019-07-24 15:04] rca0 commented on #100
my dex settings
[code]

[2019-07-24 15:48] nabadger commented on #100
I think these settings look OK (similar to ours, although we don't use Okta).

I still think the error you see is un-related to SAML though, so hopefully if you validate the client-secrets it'll work :)

---
Something else that might be cause issues here is the callback URL.

Example:
[code]

Note how the callback url has the suffix `dev1`

This also matches the cluster-name in the dex-k8s-auth co

[2019-07-30 04:37] rca0 commented on #100
@nabadger

Thanks for all your help.

I found the problem, I was configured dex without SSL settings.
I found in kubernetes documentation, the oidc plugin only accept HTTPS request, after set up dex with SSL all things works as well.

![image](https://user-images.githubusercontent.com/38728338/62100797-74a82e80-b269-11e9-9185-e79315f3242b.png)

[2019-07-30 04:47] #100 closed

[2019-08-12 09:13] krishnadurai opened #102 "Can the latest image be tagged with a version?"
Looks like that the last image to be tagged with a version was 1.1.0. This was 8 months ago.

Refer https://hub.docker.com/r/mintel/dex-k8s-authenticator/tags

Can we have a newer release?

[2019-08-12 13:58] nabadger commented on #102
Will do - just preparing a release. Will probably create the tag/image tomorrow.

[2019-08-12 14:58] krishnadurai commented on #102
@nabadger Thanks.

[2019-08-13 09:52] nabadger commented on #102
@krishnadurai there's a v1.2.0 release now (image on dockerhub as well).

[2019-08-13 09:52] #102 closed

[2019-08-22 16:37] kostyrev commented on #73
I was about to migrate to stable/dex chart but as of version 2.0.0 that chart only exposes subset of configuration.
I could not use `frontend:` subsection and that's a bummer. I'd like you to reconsider dropping dex chart from this repository. At least for a while.

[2019-08-22 16:55] nabadger commented on #73
@kostyrev would you be able to create a feature-request on the upstream dex repo for this? I can then track it and base any decision from it too.

I haven't managed to find much time to progress this in anycase just yet as other things keep coming up :)

Keep in mind the existing tagged releases will still be around.

[2019-08-22 18:56] kostyrev commented on #73
you could use https://github.com/helm/charts/issues/16351

[2019-09-06 00:53] tsoontornwutikul opened #104 "Default value of caCerts.secrets in dex-k8s-authenticator chart should be a list instead of a map"
In `charts/dex-k8s-authenticator/values.yaml`, the default value of `caCerts.secrets` should be an empty list (`[]`) instead of an empty map (`{}`) to be consistent with the documentation and to avoid merge failure when custom values are provided.

https://github.com/mintel/dex-k8s-authenticator/blob/2e3c987018b3487cc83d410b35cc0a4d00de19ca/charts/dex-k8s-authenticator/values.yaml#L69

[2019-09-06 14:22] nabadger commented on #104
Thanks @tsoontornwutikul - I've updated this now.

[2019-09-06 14:22] #104 closed

[2019-09-15 10:24] devopsdymyr opened #105 "creating migration table: unable to open database file"
I have tried to create Dex in my aws kops kubernetes cluster with reference documentation
[k8s-auth-a81f59d4dff6](https://medium.com/preply-engineering/k8s-auth-a81f59d4dff6)
Issue from the step
helm install -n dex --namespace kube-system --values values-dex.yml charts/dex
![Screenshot from 2019-09-15 15-52-50](https://user-images.githubusercontent.com/41105507/64920105-ebc16400-d7d0-11e9-9e5b-e9a

[2019-09-15 10:34] nabadger commented on #105
@devopsdymyr see https://github.com/dexidp/dex/blob/master/Documentation/storage.md#configuration

This particular issue looks like a mis-configuration - it's actually an error from dex (not dex-k8s-auth).

I would not recommend using sqlite for storage - it's fine for devel but not for production (since you can't load-balance at that point).

If you are running dex inside a kubernetes cluster, I

[2019-09-15 11:11] devopsdymyr commented on #105
Thanks @nabadger
can you provide me any documentation for setup dex in kops aws kubernetes with github integration
my email: devopsdymyr@gmail.com

[2019-09-15 11:13] nabadger commented on #105
@devopsdymyr it's not something I've done sorry (I don't deploy on AWS or use kops).

I would suggest that blog you linked is pretty good - but would just try using the `inCluster` solution (that will at least fix your current issue).

[2019-09-15 11:14] devopsdymyr commented on #105
@nabadger Thanks let me try that

[2019-09-16 09:49] devopsdymyr opened #106 "Dex login is fluctuation some time working and not working"
I have deployed dex server based on the reference https://medium.com/preply-engineering/k8s-auth-a81f59d4dff6
which is working fine for sometime and some time not reachable commands
![image](https://user-images.githubusercontent.com/41105507/64948479-c564fc80-d894-11e9-830e-94c027d410c0.png)

![image](https://user-images.githubusercontent.com/41105507/64948405-9e0e2f80-d894-11e9-9a74-534db630b4d7.

[2019-09-16 09:51] devopsdymyr commented on #105
@nabadger this issue is solved  i have another issue please have look ticket 106

[2019-09-16 09:51] #105 closed

[2019-09-17 07:46] nabadger commented on #106
@devopsdymyr we would need to see the dex and dex-k8s-authenticator configs (with any secrets redeacted), as well as full log output from dex/dex-k8s-auth.

I would not expect you to be able to curl that callback url directly - it will probably be looking for session data which would have been setup prior (i.e. via  a call to the login url instead).

It looks like to me like Dex is crashing

- Con

[2019-09-19 08:42] devopsdymyr commented on #106
Due to redirection url  which is solved now

[2019-09-19 08:42] #106 closed

[2019-09-27 10:46] k0da opened #108 "please create github releases"
We use github releases to query upstream whether new release is our and pull a version info from a release.

So far nothing can be queried:
[code]

[2019-09-29 08:51] nabadger commented on #108
@k0da sure thing

https://github.com/mintel/dex-k8s-authenticator/releases/tag/v1.2.0

I've added a github-release for the latest tag which the github api now returns.

We can do this going forwards no problem - is it worth back-porting the old releases for you?

[2019-09-29 09:48] k0da commented on #108
Thanks, latest is more than enough

On Sun, Sep 29, 2019, 10:51 Nick <notifications@github.com> wrote:

[2019-10-04 10:43] k0da commented on #108
Fixed

[2019-10-04 10:43] #108 closed

[2019-11-02 11:16] nabadger commented on #85
Should be fixed on `master` now. I'll prepare a new release soon.

[2019-11-02 11:16] #85 closed

[2019-11-14 15:07] srinisbook opened #119 "Dex - CrashLoopBackOff"
[code]

[2019-11-25 13:55] IngussNeilands commented on #94
any progress on this one ?

[2019-11-25 15:46] nabadger commented on #119
@srinisbook This is a dex issue. You will probably want to raise it at https://github.com/dexidp/dex

Without knowing your setup, it could be:

- Jumping from one version of dex to another (via incompatible versions)
- Something specific with the storage backend you are using

[2019-11-25 15:46] #119 closed

[2019-11-25 23:24] nabadger commented on #94
I've been reading up on this again tonight - many PR's over at `charts/stable` seem to suggest using https://github.com/helm/hub these days.

What this really means is, companies should host their own charts, and then add them to helm/hub.

I'll follow up on this and find out what the most recent recommended approach is. Either way it sounds like we just submit a PR to one of those repo's :)

[2019-12-02 20:07] nabadger commented on #94
done:
- defined pr for adding repo to hub
- created https://mintel.github.io/helm-charts

todo:
- ci/cd the publishing of helm charts for dex-k8s-auth (via circle)
- test helm
- submit pr

[2019-12-30 10:44] nabadger opened #121 "Add all helm-options when linting via circleci"
Whilst we perform a helm-lint, we don't enable all the options that the charts support, so we don't get great coverage when performing the lint.

[2019-12-31 09:02] nabadger commented on #121
This is more about validation against the k8s schema - a yaml linter would not have caught the related issue, and helm lint is more about charts than the rendered output.

[2020-01-27 18:44] antonyaugustus opened #125 "Standalone - Multi cluster"
Hi,

I am trying to get multi-cluster authentication work with the below yaml for a standalone process. Can someone help me what I'm missing?

clusters:
  - name: sand1
    short_description: "SandBox cluster 1"
    description: "Sandbox cluster 1"
    redirect_uri: https://host1:5555/callback
    client_secret: [redacted]
    client_id: token-app
    issuer:  https://host1:5556/
clusters:
  - nam

[2020-02-03 16:31] antonyaugustus commented on #125
If anyone needs...
clusters:
  - name: sand1
    short_description: "SandBox cluster 1"
    description: "Sandbox cluster 1"
    redirect_uri: https://host1:5555/callback/cluster1
    client_secret: [redacted]
    client_id: token-app
    issuer: https://host1:5556/
  - name: sand2
    short_description: "SandBox cluster 2"
    description: "Sandbox cluster 2"
    redirect_uri: https://host2:5555/

[2020-02-03 16:37] #125 closed

[2020-02-13 21:43] sdarwin opened #127 "dex chart docs"
Hi,
After testing the dex and dex-k8s-authenticator charts, here are some notes about the setup process. Not sure if you think this could be added to the docs ( https://github.com/mintel/dex-k8s-authenticator/blob/master/charts/dex/README.md ), or it's already been covered sufficiently.

----

**TLS Notes:**

In the current incarnation of this chart, there is not a single setting like "https: true

[2020-03-23 15:09] sdarwin commented on #127
From another issue here, it looks like maybe you are considering migrating to a different helm chart.
If that's the case, I will close this one.  Feel free to re-open if you'd like.

[2020-03-23 15:09] #127 closed

[2020-05-07 01:03] jeffisabelle opened #132 "Using dex-k8s-authenticator with AWS EKS"
Hey there, is it possible to use this authenticator with EKS? I was trying to set this up, but apparently it is not possible to update Kubernetes API Server parameters in EKS and thus dex does not work directly with OIDC. [1]

There is also a way to enable dex on EKS with a proxy [2], but I couldn't match the puzzle pieces together.

Has anybody done this before?

1 - https://github.com/aws/contai

[2020-05-07 04:52] petrokashlikov commented on #132
There is good blog regarding option #2
https://aws.amazon.com/blogs/opensource/consistent-oidc-authentication-across-multiple-eks-clusters-using-kube-oidc-proxy/

[2020-05-07 07:17] jeffisabelle commented on #132
Thanks!

I saw that yesterday but that seemed a bit complicated. (more pieces into the puzzle) In that case, I'm replacing dex-k8s-authenticator completely with `gangway`, right?

I'll give that a go today, let's see..

[2020-05-13 14:40] jeffisabelle commented on #132
Ok, I was able to use dex-k8s-authenticator on EKS. This obviously requires kube-oidc-proxy setup, and instead of configuring dex-k8s-authenticator to talk with EKS directly, you configure it to talk with kube-oidc-proxy.

It works quite well!

[2020-05-13 14:40] #132 closed

[2020-05-13 14:56] primeroz commented on #132
@jeffisabelle that is great to hear.

Would you mind writing something in the docs folder  and MR it ?

thanks

[2020-05-13 15:11] jeffisabelle commented on #132
Yes, of course. I can create a PR on this weekend with a runbook for the EKS setup. Cheers,

[2020-06-19 08:36] p37ruh4 opened #135 "Feature request: k8s_ca_path and idp_ca_path contents from file"
Hello,

It would be nice to have an option to fetch IDP and K8S CA file contents from file in `dex-k8s-authenticator`, for example:
[code]
This is especially useful for k8s API certificate as all pods already contain it by default. Some of OIDC client applications already seem to have this feature, for example, `clusterCAPath` parameter in Gangway: https://github.com/heptiolabs/gangway/blob/master

[2020-06-23 10:38] p37ruh4 commented on #135
Resolved by https://github.com/mintel/dex-k8s-authenticator/pull/136

[2020-06-23 10:38] #135 closed

[2020-07-25 18:24] Shoaib0023 commented on #105
hey @nabadger if I want to continue with sqlite solution how will I proceed , can you please guide

[2020-09-26 23:46] Josbrafe opened #139 "dex-k8s-authenticator won't start up due dex using a self-signed certificate"
Error: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate

WARNING: ca-certificates.crt does not contain exactly one certificate or CRL: skipping
2020/09/26 23:43:26 Using config file: /app/config.yaml
2020/09/26 23:43:26 Creating new provider https://dex.k8s.example.com
2020/09/26 23:43:26 Failed to

[2020-09-28 07:34] primeroz commented on #139
Hi @Josbrafe

We don't support , at the moment, to set "Skip tls verify" for security reasons. https://github.com/mintel/dex-k8s-authenticator/blob/master/main.go#L82

You should just add the CA Used to sign your `dex.k8s.example.com` to the trusted root of `dex-k8s-authenticator` using the `trusted_root_ca` flags as described https://github.com/mintel/dex-k8s-authenticator/blob/master/docs/config

[2020-10-13 10:10] mohsinhijazee opened #140 "Allow Cross client credentials"
Currently, when following is added into scopes:
[code]
This gets ignored altogether and the genrated auth URL conly contains following as scopes:

[code]

Whereas the `example-app` on which this authenticator is based on, perfectly supports this behavior. Further documentation on dex:

* [List of supported scopes](https://dexidp.io/docs/custom-scopes-claims-clients/#scopes)
* [Supports for cross c

[2020-10-20 14:47] Josbrafe commented on #139
Below is the sample of config.yaml file:

  config.yaml: |-
    listen: http://0.0.0.0:5555
    web_path_prefix: /
    debug: true
    clusters:
    - client_id: k8s-access
      client_secret: WMOUVOPBLnhtohpaoopbybpdm8K
      description: test cluster
      issuer: https://dex.kops.example.com
      k8s_master_uri: https://api.kops.example.com
      name: kops.example.com
      redirect_uri: htt

[2020-10-20 14:49] Josbrafe commented on #139
But the error still persists.

Currently, I am using the latest image.

[2020-10-20 17:24] nabadger commented on #140
Will look into this :+1:

[2020-10-22 07:53] betermieux commented on #140
Pull Request #129 (which supports custom scopes) is merged into master but is not yet released (with latest 1.2.0). So, releasing a new version should close this issue.
I am waiting for it, too. ;-)

[2020-10-22 18:29] VF-mbrauer opened #141 "Please make metadata.annotations as part of the deployment.yaml to get configured via values"
In order to configure some more annotations for the Deployment under `metadata.annotations` it would be good to get it configured via value file with
[code]

[2020-10-23 07:46] nabadger commented on #141
Is this related to #142

Wondering whether this is talking about top-level deployment annotations, or pod-spec annotations (which the PR seems to address).

[2020-11-04 14:28] bjethwan commented on #139
I am facing the same issue

[2020-11-04 14:39] primeroz commented on #139
@Josbrafe sorry i did not see your message from 2 weeks ago.

Can you check , or better post , the configmap / config file in its entirety or check the indentation ?
The one you posted does not look right especially the `trusted_root_ca` which should be `:-` rather than `-|`

Also please post the logs as well when using that configuration

@bjethwan same for you, can you please post your configura

[2020-11-04 14:44] bjethwan commented on #139
k -n dex logs dex-k8s-authenticator-66c4f5c6d5-kl6z7
2020/11/04 14:42:11 Using config file:%!(EXTRA string=/app/config.yaml)
2020/11/04 14:42:11 Creating new provider https://dex.bjethwan.xyz
2020/11/04 14:42:11 Failed to query provider "https://dex.bjethwan.xyz": Get https://dex.bjethwan.xyz/.well-known/openid-configuration: x509: certificate signed by unknown authority

[2020-11-04 14:54] primeroz commented on #139
@bjethwan thanks, and `/home/ubuntu/dex-k8s-authenticator/ssl/ca.pem` is definetly correct for the certificate/keypair used on dex ?

Do you mind attaching the ca.pem ? is just the public certificate for a self-signed ca so it should not be a big issue

Otherwise we will need to add some debug around this because this is all very simple

https://github.com/mintel/dex-k8s-authenticator/blob/master/

[2020-11-04 15:03] bjethwan commented on #139
@primeroz Thanks for being on top of it.
I used your snippet but I couldn't get it to work, for the trusted root ca, I gave spaces.

[code]

[2020-11-04 15:51] primeroz commented on #139
@bjethwan I just started dex-k8s-authenticator using your config and it worked ... ( make sure to destroy all of it once you are done and recreate from scratch especially now that you published your client_secret here )

[code]

[code]

[2020-11-09 11:14] primeroz commented on #139
@bjethwan do you have any update after my last comment ?

@Josbrafe are you able to provide the info i asked ?

I just don't want to keep this open forever :) thanks

[2020-11-09 15:34] primeroz commented on #139
@germetist The Chart does not indeed support that option, we don't use Helm and so we tend to not keep that as up-to-date as it should be. PR are welcome of course.

I am trying to understand if there are issues when the configmap does contain the `trusterd_root_ca` key

[2020-11-11 13:09] bjethwan commented on #139
@primeroz
I think we were missing the caCerts element, it worked only when I added the trailing part in the values.yml, as shown below in **bold**

[code]

[2020-11-11 13:11] bjethwan opened #144 "Can this work against OpenAM based oidc?"
Can this work against OpenAM based oidc?

[2020-11-11 13:48] primeroz commented on #139
@bjethwan glad to know it worked for you :)

CLosing this

[2020-11-11 13:48] #139 closed

[2020-11-16 08:38] bjethwan opened #145 "invalid_scope: Unknown/invalid scope(s): [offline_access, groups]"
It works perfectly fine against Dex but I am getting below error when I deployed it against our OpenAM setup.
Those scopes are not even listed there in my config

**`Error: invalid_scope: Unknown/invalid scope(s): [offline_access, groups]`**

[code]

I can see from the logs that you are adding those extra scopes when making aa request to OpenAM. Why's that required?
FYI. I have Dex example-app wor

[2020-11-18 16:35] nabadger commented on #144
@bjethwan This isn't something I'm familiar with, so can't give you a definitive answer I'm afraid.

[2020-11-18 16:43] nabadger commented on #145
@bjethwan I believe this was fixed in !29 - can you confirm what version of the image you're using?

I'll look to tag a new release shortly.

[2020-11-19 11:27] nabadger commented on #144
It looks like you got most of this working in #145

[2020-11-19 11:27] #144 closed

[2020-11-26 09:56] summon128 opened #147 "Windows instructions for setting certificate are not working"
The windows instructions for **Copy Kubernetes CA Certificate From PEM** do not work in Powershell. In our deployment of dex (v1.2.0) the following command is proposed:
[code]

I think the problem is with a lack of support for `<<`

A Powershell friendlier version might look like this:
[code]

[2020-11-27 11:43] bjethwan commented on #144
@nabadger
dex-k8s-authenticator works perfectly fine with OpenAM.
The deployment was smooth, as I transitioned from Dex in my personal environment to OpenAM in my org.

[2020-11-27 11:49] bjethwan opened #149 "Does redirect_uri has to refer back to cluster name in config file?"
I am going from single k8s to multiple k8s clusters fronted by the same dex-k8s-authenticator deployment.
All these k8s clusters are configured with the same openam client-id/client-secret.

It's not clear in the documentation if redirect_uri has to refer back to the cluster name in the config file.
https://github.com/mintel/dex-k8s-authenticator/blob/master/docs/config.md

Would something like th

[2020-11-27 11:50] bjethwan opened #150 "Is there a metrics endpoint which we can scrape to monitor dex-k8s-authenticator deployment?"

[2020-11-27 12:47] bjethwan commented on #145
@nabadger
I am using mintel/dex-k8s-authenticator:1.2.0

[2020-11-30 12:24] nabadger commented on #150
@bjethwan there isn't a metrics endpoint currently.

[2020-11-30 12:31] nabadger commented on #149
@bjethwan yes it will use the `name` attribute for each cluster to generate the callback uri.

[2020-12-04 21:15] Adithimurthi opened #151 "When is the next release? Badly looking for scope option to login without mail attribute"
When is the next release? I am looking for scope option. So that i can use it for service accounts without mail address. Right now, i am getting below error if i login with ldap id without email address.

Login error: ldap: entry "useraccount" missing following required attribute(s): ["mail"]

[2020-12-14 11:24] nabadger commented on #151
I just released `v1.3.0` which provides the `scopes` option.

Let me know if it works - apologies for slow releases lately, not much time on this project :)

[2020-12-14 11:24] #149 closed

[2020-12-14 11:24] nabadger commented on #150
Closing this, but if anyone wants to open a PR for this, that would be great :)

[2020-12-14 11:24] #150 closed

[2020-12-14 11:26] nabadger commented on #145
@bjethwan I just released `v1.3.0` which provides a `scopes` option as per #129

May resolve your issue.

[2020-12-14 16:44] nabadger commented on #151
Just releasing `v1.4.0` as well, since `dexidp` released a security patch that we should all upgrade to (at least if those using SAML).

[2020-12-14 17:48] nabadger commented on #140
@betermieux I've released new versions today (`1.4.0` being the latest).

Sorry for delay!

[2020-12-14 17:48] #140 closed

[2020-12-14 17:50] nabadger commented on #145
/duplicate #140

[2020-12-14 17:50] #145 closed

[2020-12-14 17:50] #151 closed

[2020-12-14 17:54] nabadger commented on #147
@summon128 there's a related (but old) PR at #86

I don't have a Windows box readily available so always found testing a bit of a pain :)

Couple of question really.

1) Does the introduction of WSL help here? i.e. is specific support for powershell still required these days?
2) Do you also require the use of `%USERPROFILE%` in the related PR, or is `$HOME` sufficient?

[2020-12-14 17:55] nabadger commented on #11
Closing for now - not much use for this

[2020-12-14 17:55] #11 closed

[2020-12-14 18:49] betermieux commented on #145
Thanks a lot, works great!

[2020-12-14 18:52] nabadger opened #156 "Helm 2->2"
I don't think there's any client side changes - should just be updating the CI.

[2020-12-14 19:00] nabadger opened #157 "Migrate CI to GithubActions"
Improves fork/PR flow.

[2020-12-14 19:01] nabadger commented on #121
/related #157

[2020-12-16 09:07] nabadger commented on #156
See #157

[2020-12-21 15:46] nabadger opened #160 "Drop support for TLSv1.0"
When configured to listen on SSL TLSv1.0 still supported (we should drop it)

[code]

Most likely set min to TLSv1.2:.

Also not sure why we've set a max version tls.VersionTLS12 - should probably avoid specifying this.

Also noted that the error handling around tls certs is poor here (i.e. if the file doesn't exist, so fix that too).

[2021-01-05 20:29] summon128 commented on #147
WSL can help, but obviously only if you have it installed, which it is not by default. And even then there's additional setup involved if you want to share the kubectl configuration between Windows and the Linux subsystem (namely linking config directories between the user homes which will be different for Windows and WSL).

Regarding `%USERPROFILE%` vs `$HOME` my observation is that the first one

[2021-01-07 09:02] #157 closed

[2021-02-23 22:35] carpenike opened #161 "Suggest adding additional roles to rbac"
Hello!

Got errors because the rbac role does not include the additional resources:

[code]

My RBAC role now includes the following rules and the errors went away.

[code]

[2021-03-16 18:51] jicowan commented on #25
@MnrGreg Is there a way to statically configure the client-certificate-data so that it gets added to the kubeconfig or do you have to pass it a URI?

[2021-03-23 14:34] oz123 opened #165 "Failed to query provider "https://dex.example.org/": 400 Bad Request: Client sent an HTTP request to an HTTPS server."
Not sure if this is a real issue, this happens when I configure Dex to use TLS and also configure an NGINX ingress with TLS
In dex.yaml

[code]

If I enable TLS and remove TLS from the ingress e.g:
[code]

I get the following error:
[code]

I had success with using lngress + Let's encrypt certificates for both dex and dex-k8s-authenitcator.

[2021-05-19 10:57] kofiray opened #168 "invalid_scope: Unknown/invalid scope(s): [offline_access, groups]"
Hi,
Still seeing this issue on AWS Cognito... Do you know if this is resolved ?

[2021-06-13 14:08] nabadger opened #170 "Add trivy container scanning to gh-action."
Latest version of trivy supports go-binary checks. Would be nice to add.

#169

[2021-06-13 14:43] nabadger commented on #168
@kofiray It should be - see #129

You can make use the of the `scopes` setting (array) to customize this - available >= `v1.3.0`

[2021-06-15 19:48] #160 closed

[2021-07-07 15:57] Taragos opened #172 "k8s_ca_pem_base64_encoded not used?"
Hello,

I recently deployed the K8S Authenticator in our environment and it is working pretty good.
The only issue I have is with supplying the CA PEM in base64 encoded format.

When trying to supply it via k8s_ca_pem_base64_encoded I would have expected an option that sets the **certificate-authority-data** field to the given Base64 encoded Value. But this is not the case for my instance.
(Supply

[2021-09-25 14:55] jkroepke opened #178 "Support raw copy kubeconfig file"
The dex-k8s-authenticator is a useful tool on onboarding new kubernetes user.

However, it would be great to display a fully generated kubeconfig file, too. The generated kubeconfig file could be inside lens directly without interacting with CLI.

https://docs.k8slens.dev/main/catalog/add-clusters/

[2021-10-05 21:19] VF-mbrauer opened #179 "Hardcoded Secret in Dex Authenticator ConfigMap"
While reviewing the ConfigMaps of the dex Kubernetes namespace, it was found that a secret is hardcoded and stored in clear text inside the ConfigMap dex-auth-dex-k8sauthenticator. Storing secret values in clear text within ConfigMaps potentially allows anyone with permissions to review ConfigMaps to obtain sensitive information, potentially causing other/unspecified harm.

**#kubectl get cm -n de

[2021-10-20 06:28] desaintmartin opened #180 "Ability to work outside of Dex"
We have been using dex-k8s-authenticator for several years, it is a very nice project.

Reading its code recently, I discovered it is in fact a generic oidc-k8s-authenticator, and trying to use it without dex but directly with my oidc provider make it work out of the box. Is it in the scope of the project? If so, maybe we could add some documentation about it.

[2021-11-04 05:48] xUnholy opened #182 "TLS v1.3 Unsupported"
Using TLS v1.3 is unsupported in this project, it would be great if we could update the libs so this isn't an issue.

[code]

[2021-11-04 05:54] xUnholy opened #183 "Crashloop with no logs between querying provider and verifying client"
There is an issue where the pods run into a crashloop because the start-up is never successful past the querying provider where it should continue moving into verifying client.

[code]

[2021-11-04 09:06] xUnholy commented on #179
Agreed, this did seem strange that we'd store the client secret in the configmap resource.

[2021-11-04 09:20] VF-mbrauer commented on #179
@xUnholy something which will be solved soon?

[2021-11-06 11:21] xUnholy commented on #179
I'm not a contributor or maintainer in this particular repo. I'm sure a pull request fix would always be welcomed though.

[2021-11-10 08:31] VF-mbrauer commented on #179
Hi @nabadger, can you check the [PR](https://github.com/mintel/dex-k8s-authenticator/pull/184), please?

cc: @xUnholy

[2021-11-10 09:13] nabadger commented on #182
@xUnholy I'll take a look at this as it should be easy to fix
.
Been a bit busy lately so trying to catch up on cases..

[2021-11-10 19:44] nabadger commented on #183
Is this related to #182 ? Since in that issue it looks like it got further than this ...and then errored out.

For this particular case, does it hang or does it exit? If it hangs then it sounds like it's stuck trying to get a connection (I've seen similar issue that have been the result of networkpolicy...).

[2021-11-10 19:51] nabadger commented on #180
It's not something I've tried - i guess it's fairly coupled to dex by name (and the helm charts we ship).

Did you managed to get it working?

[2021-11-10 20:07] nabadger commented on #179
@VF-mbrauer @xUnholy I'm not really sure what this solves? b64 is just encoding and doesn't encrypt/protect data anymore (i.e. the user can simply b64decode it).

[2021-11-10 20:13] VF-mbrauer commented on #179
Yes, there is still more to do. But some Security departments would be still happy to see at least an Encoding and not the real secrets. And yes @nabadger you are right, it is possible to decode, but at the first glance, we do not have the real secret in the config map. With the next version, we could also split some of the sensitive content and move it completely to the secrets area of k8s.

[2021-11-10 20:32] nabadger commented on #179
I'm not really convinced on going down the b64 route as it doesn't increase security (dexidp don't do this: https://github.com/dexidp/dex/blob/766fc7ad990b51f656e03f03e157ba81da132552/examples/config-dev.yaml#L130).

There is talk about whether client-secret is needed at all (i.e. PKCE could avoid this...but I'm not sure that's right either).

See #80

---

For this area, I would rather jump strai

[2021-11-10 20:39] nabadger commented on #179
Actually, we might already have a solution in place for this.

The configuration values can be environment variables, which means you should be able to do this:

[code]

You can then set this via the new `envFrom` support (which can reference a secret) - This is soon to be merged ( https://github.com/mintel/dex-k8s-authenticator/pull/175 )

How does that sound?

[2021-11-10 20:48] xunholy commented on #179
Hi @nabadger thanks for sharing your views; I want to confirm that secrets although are base64 encoded which is _not_ en encryption should be using the secret kubernetes resource type as intended. There is no real good argument against this - secret resources are designed to create a separation of duties and distinguish between application config and sensitive data, this can be imposed using RBAC

[2021-11-10 21:08] nabadger commented on #179
@xUnholy I agree with all that, but not sure how the current PR helps this?

https://github.com/mintel/dex-k8s-authenticator/issues/179#issuecomment-965727955 achieves this except it provides secrets via env-vars. This isn't ideal as per CIS, but is essentially what most apps support these days, since the latter is somewhat more work for developers and can increase code complexity.

If we want to

[2021-11-10 21:37] desaintmartin commented on #180
Actually, it is perfectly working and it is now in production. The only change we made was extending the Gitlab token validity (we use Gitlab as oidc provider) which is 2 minutes by default and caused refresh issues when using several clients (to be honest, we did the same thing for Dex...). So we entirely got rid of Dex to fully rely on Gitlab. I suppose it would work with any OIDC provider, so a

[2021-11-10 22:32] xunholy commented on #179
I haven't actually reviewed the proposed PR but if it doesn't align to what I mentioned above then I agree with you.

In terms of this change, we should just be reading in from a secret which should be created as some particular mount path, validating the file exists and if so reading in the secret - You might also support ENVs, perhaps this is a phases approach and you could support ENVs with the

[2021-11-11 00:12] VF-mbrauer commented on #179
Hi @nabadger, dexidp does also store its secrets plain in the configuration. BUT it then stores it in secrets of k8s. That's the difference in this case.

So if you guys don't agree on the PR, and the way it does the implementation then fine. But then I would propose the solution to split that part out of configmap and make it a Mount of secrets on k8s.

ENV I don't think that this should be used

[2021-11-11 08:56] nabadger commented on #179
@VF-mbrauer simplest solution is to have the entrypoint `source` a credentials file I think from the docker-entrypoint.

[code]

Your credentials file can just be a k8s secret volume, and could look something like this:

[code]

This is also generic and can work for multiple clusters (multiple secrets).

Your configmap can look like this:

[code]

The code will already handle the substituion..so t

[2021-11-12 22:15] xunholy commented on #182
Thanks @nabadger , let me know and I can test.

[2021-12-01 09:12] isantospardo opened #185 "Finalize upstream helm repo"
It seems the official https://mintel.github.io/helm-charts/ helm repo was never finalized.

Is there any update/work done for adding upstreams helm charting support? so we can directly pull from there instead of pointing to the chart folder?

[2021-12-03 10:48] desaintmartin commented on #185
Indeed, it seems chart 1.2.0 is no (longer?) available:

[code]

When looking at index.yaml, it references https://mintel.github.io/helm-charts/dex-k8s-authenticator-1.2.0.tgz which does not exist.

[2021-12-08 19:00] torgiren opened #186 "helm chart not found"
the helm chart in https://mintel.github.io/helm-charts/dex-k8s-authenticator-1.2.0.tgz does not exists anymore

[2021-12-23 10:40] Dentrax opened #187 "Expose user IP address in the logs"
Currently, we are only exposing the following fields in the logs:

[code]

It would be great to pass user's IP address during the authentication process. What do you think?

[2021-12-23 10:43] Dentrax opened #188 "UI: cluster names are empty"
As you see the empty-name case in the following UI, it does not break the overall usability. I still able to click the buttons and jump to auth process.

![Screen Shot 2021-12-23 at 13 41 43](https://user-images.githubusercontent.com/16493751/147228945-2df04e68-95c4-460a-98e5-a66b8e541dda.png)

[2021-12-23 11:01] Dentrax commented on #187
I'm not sure whether it's the correct place to ask this but should we handle this in the [dex/server/oauth2.go](https://github.com/dexidp/dex/blob/3fac2ab6bc3bc3cb56afa6d71adce293d5abbed8/server/oauth2.go#L294) instead? Any thoughts @nabokihms? Should we move this issue to there?

[2021-12-23 20:41] nabokihms commented on #187
Hello there. There are a couple of obstacles that make implementing this feature a little bit harder in Dex:

1. Dex should know the real IP addresses of clients, so we have to add options like `real_ip_header` and `trusted_networks` etc. I remember some opened issues with the intention of adding clients addresses to dex logs, but still no progress. As for now, Dex is not aware of clients ips.

2.

[2022-01-11 13:25] VF-mbrauer commented on #179
Hi @nabadger, thanks for the reply and sorry for the silence here from my side. Had some stuff Todo which kicked in until the end of 2021 :-)

Let continue here then. So yes, it makes sense just to pass the credentials out of the config and make them readable via a secret in k8s which we can mount as usual in parallel to the config map mounts. It makes sense and does also not change the complete l

[2022-01-11 14:54] marians commented on #147
At Giant Swarm (on the customer side) we have actual users who would like to use the generated Windows commands either in `cmd.exe` or in PowerShell. If we can help to advance in the direction of https://github.com/mintel/dex-k8s-authenticator/pull/86 please let me know.

[2022-01-12 11:27] VF-mbrauer commented on #179
@nabadger, please check https://github.com/mintel/dex-k8s-authenticator/pull/184

@xUnholy: FYI.

[2022-01-14 14:51] desaintmartin commented on #186
Hello, seems linked to https://github.com/mintel/dex-k8s-authenticator/issues/185

[2022-01-14 14:51] desaintmartin commented on #185
Dear @nabadger, how could we help?

[2022-02-09 17:54] desaintmartin commented on #185
Hello,
We've pushed a fork of the chart at https://artifacthub.io/packages/helm/wiremind/dex-k8s-authenticator.

We'll be happy to remove this fork and contribute back our changes here when maintainers manifest themselves.

[2022-03-08 07:15] axkng opened #193 "Add a arm64 image"
Hi,
would it be possible to add arm64 to the platforms of the container images?

In a quick test with buildx there were no errors building an image and I am running a container with it right now.

[2022-03-09 00:47] VF-mbrauer commented on #179
@nabadger @nickmintel Any news here?

[2022-03-09 08:19] nabadger opened #194 "Project maintenance (finding a new home for this repo)"
Dear all,

I haven't been able to actively maintain this project for a while due to personal commitments, and sadly we no longer use this component internally anymore, so it's become harder to find developer time to help with any issues / PRs.

I believe the best course of action for now will be to find new owners of this repo, in order to help support the community members that find it useful.

I

[2022-04-04 21:39] efossas commented on #172
it appears that feature was added to master with this PR (06/15/2021): https://github.com/mintel/dex-k8s-authenticator/pull/171

but the last release was `v1.4.0` back in 12/16/2020 and doesn't include this feature yet.

you can update your image to: `docker.io/mintel/dex-k8s-authenticator:latest`, and it should work (just tested and it did). not a fan of using "latest", but not sure what the proc

[2022-07-01 12:26] rogermartensson opened #195 "Template for ingress not working in newer Kubernetes"
The ingress-template doesn't work for newer Kubernetes versions.
The reason is that ingress isn't in beta anymore.

[2022-07-19 23:46] dezeroku commented on #195
There is a fix here: https://github.com/mintel/dex-k8s-authenticator/pull/192

[2022-10-27 16:17] ivankatliarchuk commented on #194
Hi, @nabadger. I never contribute to this project, but was using it extensively on aws. Did recently a spike to run dex on k8s with something else, but k8s-authenticator is still a best opiton. Same time It's getting hard to use a solution due to a fact, that is no longer maintained.
Can you not have few members in an org so that they could review and approve while you have no time instead? It's a